<button id="boton-carrito"><i class="fas fa-shopping-cart"></i><span id="contadorCarrito">0</span></button>

<select id="selecTalles">
  <option value="all">Todos</option>
  <option value="L">L</option>
  <option value="M">M</option>
  <option value="S">S</option>
</select>

<main id="contenedor-productos">

</main>

<div class="modal-contenedor">
  <div class="modal-carrito">
    <h3>SHOP CHART</h3>
    <button id="carritoCerrar"><i class="fas fa-times-circle"></i></button>
    <div id="carrito-contenedor">

    </div>
    <p class="precioProducto">PRECIO TOTAL: $<span id="precioTotal"></span></p>
  </div>
</div>
